.material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        .tonal-shift-surface-container-low {
            background-color: #f6f3f2;
        }
/* Extracted Inline Styles */
.extracted-style-1 { font-size: clamp(3rem, 8vw, 6rem); }
.material-symbols-fill { font-variation-settings: 'FILL' 1; }
.extracted-style-2 { background-size: cover; background-position: center; }
.extracted-style-3 { background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDH568_UoWmjTyul4QIw0RlumWkJdUKhvsAlachq0xyJK8JZAoXkA3BBeVpxZ9Qdw6asHoIsC6wiy7URZsu3YmHrIxmTxVWG5Bx3zw6LxY3UOIqdWNXWHK40xBhVttFjrAsr9hASkkRUc6NoFAR17IwUJutnYbTryNB9uzSJS_s_0jGJjwej74GDJ3rFmNEAQOLW_S-hGzus1LvEucIaAUw2FWVUhc6EKaQFFTzmAh93ZDLaq6_x-QI61nPoiMnHvHHwUWmwe99Go5j') }
